@use '../_shared' as *;
@use '../variables' as *;
@use '../mixins' as *;

#about {
    min-height: 100vh;
    @include flex-center;
    margin-bottom: 1rem;

    .container {
        @extend %glass-background;
    }

    h1 {
        @extend %h1-style;
        color: $primary-text;
    }

    h4 {
        @extend %h4-style;
        color: $light-yellow;
    }

    h5 {

        color: $secondary-text;
        line-height: 2.5rem;
        font-weight: 400;
        @extend %h5-style;

        i {
            color: $dark-yellow;
        }
    }

    @include responsive(medium) {
        margin-bottom: 6rem;
        padding-top: 4rem;
        scroll-margin-top: 4rem;
    }

    @include responsive(mobile) {
        margin-bottom: 8rem;
        padding-top: 3.5rem;
        scroll-margin-top: 3.5rem;
        .container {
            width: 90%;
        }
    }
}