@use "sass:color";
@use "variables" as *;
@use "animations" as *;
@use "mixins" as *;

%glass-background {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 2rem;
    border: 1px solid rgba(176, 176, 176, 0.349);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    @include slide-up($slide-up-duration, $slide-up-timing, $slide-up-delay);
}

//button style
%button-base {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 1rem;
    padding: 1rem 1.2rem;
    background: transparent;
    border: 2px solid;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0;
}

%button {
    @extend %button-base;
    border-color: $dark-yellow;
    color: $dark-yellow;

    &:hover {
        background: $dark-yellow;
        color: $primary-background;
    }
}

//control buttons
%control-button {
    width: 35px;
    height: 35px;
    background-color: $light-yellow;
    color: $secondary-background;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: var(--secondary-font);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    border: none;
    padding: 0;
    z-index: 20;
  
    &:hover {
      background: transparent;
      border: 2px solid $light-yellow;
      color: $light-yellow;
      transform: scale(1.1);
    }
  
    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($light-yellow, 0.3);
    }
  
    i {
      font-size: 14px;
      transition: transform 0.3s ease;
    }
  }

//text style
%h1-style {
    font-family: $primary-font;
    font-size: $font-h1;
    font-weight: 700;

}

%h1-span-style {
    font-family: $primary-font;
    font-size: $font-span-h1;

}
%h4-style {
    font-family: $primary-font;
    font-size: $font-h4;
    line-height: 1.6;
    color: $secondary-text;
}