// Backgrounds
$primary-background: #0c0c0c;
$secondary-background: #1a1a1a;

// Text Colors
$primary-text: #eaeaea;
$secondary-text: #c2c2c2;
$tertiary-text: #001772;

// Blues
$light-blue: #afceff;
$medium-blue: #34a5f5;
$dark-blue: #3b6cb7;

// Yellows
$light-yellow: #ffeebb;
$dark-yellow: #fcbd00;

// Reds
$light-red: #ff7e7e;
$dark-red: #ff4848;

// Greens
$light-green: #B8F9D3;
$dark-green: #4fc391;

// Violets
$light-violet: #ceb2fc;
$dark-violet: #8b6fc0;

// Oranges
$light-orange: #ffd4a9;
$medium-orange: #ecac3d;
$dark-orange: #ff9248;

// Fonts
$primary-font: "Josefin Sans", sans-serif;
$secondary-font: "Montserrat Alternates", serif;

// Font Sizes
$font-h1: 2.8vw;
$font-span-h1: 3.2vw;
$font-h4: 1.5vw;
$font-span-h4: 2.5vw;
$font-code: 0.85vw;
$font-p: 1rem;

// Transitions
$transition-fast: 0.3s ease-in-out;
$transition-medium: 0.5s ease;

// Animation Variables
$slide-up-duration: 0.8s;
$slide-up-timing: ease-out;
$slide-up-delay: 1s;
$slide-up-button-delay: 0.6s;