@use "sass:color";
@use "variables" as *;
@use "mixins" as *;
@use "animations" as *;
@use "CommonStyle/_navbar" as *;
@use "CommonStyle/_backgroundAnimation" as *;
@use "CommonStyle/_loadingPage" as *;
@use "ElementStyle/home" as *;

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');

// Global styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin; // For Firefox
  scrollbar-color: $dark-yellow $secondary-background; // Thumb and track colors
}

// Custom scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: $dark-yellow;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $dark-yellow;
  border-radius: 10px;
  transition: background $transition-fast ease;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark-yellow;
}

// Base styles
html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: color.adjust($primary-background, $lightness: -2%) !important;
  
}

// App container
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
}

// Main content
.main-content {
  flex: 1;
  padding-top: 80px; // Height of navbar
}

// Focus states
:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

// Responsive styles
@include responsive(desktop) {
  html {
    font-size: 16px;
  }
}

@include responsive(tablet) {
  html {
    font-size: 15px;
  }
}

@include responsive(mobile) {
  html {
    font-size: 14px;
  }
}
